*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

.container{
    max-width: 1100px;
    margin: auto;
}
 .span{
     color: red;
 }
 .media{
    color: #555555;
 }
 /* home */
 #home-img{
     background: url(./rasm/foto-1.jpg)no-repeat center center/cover fixed;
     height: 100vh;
     color: white;
 }
 .top-head{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
.top-head ul li{
    display: inline-block;
    padding: 1rem 20px;
    list-style: none;
    font-size: 20px;
}
.top-head ul li a{
    color: white;
}
.top-head ul li a:hover{
    color: rgb(0, 255, 255);
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
}
.header h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.header p{
    font-size: 20px;
    margin-bottom: 10px;
}
.header a{
    color: white;
    border:2px white solid;
    padding: 0.5rem 2rem;
}
.header a:hover{
    color:black;
    background-color: white;
    opacity: 0.6;
}

/* about us */
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;

}
.logo h1{
    margin-bottom: 1rem;
}
.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.items .item{
    text-align: center;
}
.icon-a{
    background-color: red;
    color: white;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.icon-b{
    color: red;
    border: 2px red solid;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.items .item h1{
    margin-bottom: 1rem ;
}
.items .item p{
    margin-bottom: 1rem;
}

/* about-cont */
.about-cont{
    background-color: #f8f8f8;
}
/* lyrics */
.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.bio h1{
    margin-bottom: 1rem ;
}
.lyrics{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

/* persons */
.persons{
    display: flex;
    justify-content: space-between;
}
.persons img{
    width: 250px;
    height: 250px;
    margin-bottom: 1rem;
}
.persons h1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 1rem;   
}
.persons p{
    text-align: center;
    margin-bottom: 2rem;
}

/*  */
.blog-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-logo h1{
    margin: 2rem 0;
}
.blog-logo ul li{
    display: inline-block;
    list-style: none;
    padding: 0 1rem;
    font-size: 20px;
    margin-bottom: 2rem;
}
.blog-logo ul li a{
    color: #555555;
}
.blog-logo ul li a:hover{
    color: #c0301c;
}

/* blogs */
.blog-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog img{
    width: 350px;
    height: 350px;
    margin-bottom: 1rem;
}

/* get in touch */
#section-img{
    background: url(./rasm/foto-2.jpg)no-repeat center center/cover;
    height: 50vh;
    color: white;
}
.get-in-touch{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.get-in-touch h1{
    margin-bottom: 1rem;
}
.get-in-touch a{
    color: white;
    border: 2px white solid;
    padding: 0.5rem 1.5rem;
}
.get-in-touch a:hover{
    color: black;
    background-color: white;
    opacity: 0.7;
}

/* recent blog posts */
.droid-bio{
    height: 150px;
    text-align: center;
    margin-top: 3rem;
}
.droid-bio h1{
    margin-bottom: 1rem;
}

.droid-1{
    display: flex;  
    margin-bottom: 2rem;
}
.droid-1 img{
    width: 400px ;
    height: 300px;
}
.droid-text{
    width: 100%;
    height: 100%;
    margin-left: 3rem;
    font-size: 1.5rem;
}
.droid-text h4{
    width: 100px;
    height: 120px;
    border: #555555 2px solid;
    text-align: center;
    padding-top: 2rem;
}
.droid-logo{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.droid-text .droid-a{
    margin-left: 2rem;
    font-size: 20px;
}
.droid-text .droid-a h3{
    margin-bottom: 1rem;
}
.droid-text .droid-b{
    margin-left: 1rem;
}
.droid-text .droid-b p{
    font-size: 20px;
    margin-bottom: 1rem;
}
.droid-text .droid-b a{
    color: red;
}
.droid-2{
    display: flex;
    margin-bottom: 3rem ;
}
.droid-2 img{
    width: 400px;
    height: 300px;
}
.droid-text-2{
    width: 100%;
    height: 100%;
    margin-left: 3rem;
    font-size: 1.5rem;
}
.droid-text-2 h4{
    width: 100px;
    height: 120px;
    border: #555555 2px solid;
    text-align: center;
    padding-top: 2rem;
}
.droid-logo{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.droid-text-2 .droid-c{
    margin-left: 2rem;
    font-size: 20px;
}
.droid-text-2 .droid-c h3{
    margin-bottom: 1rem;
}
.droid-text-2 .droid-d{
    margin-left: 1rem;
}
.droid-text-2 .droid-d p{
    font-size: 20px;
    margin-bottom: 1rem;
}
.droid-text-2 .droid-d a{
    color: red;
}

/* styles */
#styles{
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
}
.drivers{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;  
    align-items: center;
    text-align: center;
}
.driver-1 h1{
    font-family: 'Fondamento', cursive;
    color: #565656;
}
.driver-1 p{
    font-family: 'Fondamento', cursive;
    color: #565656;
}
.driver-2{
    font-family: 'Parisienne', cursive;
    color: #555555;
}
.driver-3{
    color: #555555;
}
.driver-4{
    color: #595959;
}
.driver-5{
    color: #595959;
}
.top-cont{
    width: 100%;
    height: 150px;
    text-align: center;
}
.top-cont h3{
    color: #555555;
    margin-bottom: 1rem;
}
.top-cont p{
    color: #555555;
}

/* section */
.adress-bio{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
   justify-content: center;
    text-align: center;
}
.adress-bio h1{
    margin-bottom: 1rem;
    color: #555555;
}
.adress-bio p{
    color: #555555;
    margin-bottom: 2rem;
}


/* section */
.mobs{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.mob-1{
    width: 50%;
}
.mob-1 i{
    position: relative;
    top: 30px;
    right: 30px;
    color: #555555;
}
.mob-1 h3{
    color: #555555;
    margin-bottom: 0.5rem;
}
.mob-1 p{
    color: #555555;
}

.mob-2{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.name{
    width: 250px;
    height: 30px;
    margin-bottom: 1rem;
}
.e-mail{
    width: 250px;
    height: 30px;
    margin-bottom: 1rem;
}
.subject{
    width: 250px;
    height: 30px;
}
.company{
    width: 250px;
    height:30px;
}
.message{
    width: 530px;
    height: 80px;
    margin-bottom: 1rem;
}
.mob-2 h5{
    padding: 1rem 0;
}
.button{
    width: 150px;
    height: 40px;
    text-align: center;
}
/*  */
#bottom-cont{
    background-color: red;
    color: white;
}
#bottom-cont .black{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 14px;
}
#bottom-cont i{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px white solid;
    border-radius: 100%;
    padding: 0.3rem;
    margin-bottom: 1rem;
}

/* media */
@media(max-width:600px){
    .top-head{
        display: block;
        text-align: center;
    }
}
@media(max-width:600px){
    .header{
        display: block;
        text-align: center;
        margin-top: 50%;
    }
}
@media(max-width:600px){
    .logo{
        display: block;
        text-align: center;
    }
}
@media(max-width:600px){
    .items{
        display: block;
        text-align: center;
    }
}
@media(max-width:600px){
    .bio{
        display: block;
        text-align: center;
    }
}
@media(max-width:600px){
    .lyrics{
        display: block;
        text-align: center;
    }
}
@media(max-width:600px){
    .lyrics-1{
        margin-bottom: 1rem;
    }
}
@media(max-width:600px){
    .persons{
        display: block;
        text-align: center;
    }
}

@media(max-width:600px){
    .blog-logo{
        display: block;
        text-align: center;
    }
}
@media(max-width:600px){
    .blog-cont{
        display: block;
        text-align: center;
    }
}